@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 100vw;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* html, body, header, footer, h1,h2,...  */
@layer base {
  /* body{
    @apply bg-[#141414] text-white !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-red-600
  }
  header{
    @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10
    lg:py-6;
  } */
}
/* custom classname */ 
@layer components{
    .form-field{
        @apply border-[2px] w-full rounded-md py-3 px-3 invalid:border-red-600 focus:border-[2px]
         focus:border-blue-500 focus:outline-none 
    }
    .primary-search{
      @apply block w-full rounded-lg border-2 border-gray-300 bg-gray-50 p-4 pl-10 text-sm text-gray-900
      focus:border-blue-500 focus:outline-none focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700
       dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500
    }
}